<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hay About A Lounge Chair AAL82 | Utility Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://media.utilitydesign.co.uk/favicon/default/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script defer src="../scripts/api.js"></script>
    <script defer src="../scripts/script.js"></script>
</head>

<body>

    <header>
        <div class="searchBar">
            <i class="fas fa-search"></i>
            <input placeholder="Search..." class="searchField" style="border: none;" />
        </div>
        <img class="logo" src="../assets/images/utilityLogo.png" />
        <div class="iconContainer">
            <select class="currencySelect">
                <option value="pounds">£ GBP</option>
                <option value="euros">€ EUR</option>
                <option value="dollars">$ USD</option>
            </select>
            <a href="#"><img class="icon" src="../assets/images/userIcon.png" alt="user icon" /></a>
            <a href="#"><img class="icon" src="../assets/images/basketIcon.png" alt="basket icon" /></a>
        </div>
    </header>
    <ul class="navList">
        <!-- get nav items from db -->
    </ul>
    <span class="route">
        <!-- get route from db -->
    </span>

    <div class="main">
        <div class="productDisplay">
            <a class="leftArrow" href="#"><img src="../assets/images/arrowLeft.png" /></a>
            <img class="productImage" src="../assets/images/productImage.png" />
            <a class="rightArrow" href="#"><img class="rightArrow" src="../assets/images/arrowRight.png" /></a>
            <img class="productThumbnail" src="../assets/images/productImage.png" />
        </div>

        <div class="productForm">
            <div class="formHeader">
                <h2 class="productTitle">Hay About A Lounge Chair - Low AAL82</h2>
                <span class="priceFrom">from: </span><span class="currencySign">£</span><span
                    class="startingPrice">779.00</span>
                <h5 class="orderTime"> <img src="../assets/images/greenTick.png" /> Made To Order - 6-8 weeks</h4>
            </div>
            <form class="formMain">
                <div class="formSelect-container">
                    <label class="formLabel" for="fabricSelect">Fabric:</label>
                    <p class="required">Selection required</p>
                    <select class="formSelect" name="fabricSelect" id="fabricSelect">
                        <option class="formOption" value="">Select your fabric</option>
                        <option value="Steelcut Trio (+£30.00)">
                            <div class="formOption">Steelcut Trio (+£30.00)</div>
                        </option>
                    </select>
                </div>
                <div class="formSelect-container">
                    <label class="formLabel inactive" for="colourSelect">Colour:</label>
                    <p class="required">Selection required</p>
                    <select class="formSelect inactive" name="colourSelect" id="colourSelect">
                        <option class="formOption" value="">Select your colour</option>
                        <option class="formOption" value="SCT105">SCT105</option>
                        <option class="formOption" value="SCT124">SCT124</option>
                        <option class="formOption" value="SCT153">SCT153</option>
                        <option class="formOption" value="SCT195">SCT195</option>
                        <option class="formOption" value="SCT213">SCT213</option>
                    </select>
                </div>
                <div class="formSelect-container">
                    <label class="formLabel inactive" for="legSelect">Leg Finish:</label>
                    <p class="required">Selection required</p>
                    <select class="formSelect inactive" name="legSelect" id="legSelect">
                        <option class="formOption" value="">Select your leg finish</option>
                        <option class="formOption" value="Black Stained Oak">Black Stained Oak</option>
                        <option class="formOption" value="Clear Lacquered Oak">Clear Lacquered Oak</option>
                        <option class="formOption" value="Matt Lacquered Oak">Matt Lacquered Oak</option>
                    </select>

                </div>
                <div class="formSelect-container">
                    <label class="formLabel inactive" for="seatSelect">Optional Seat Cushion:</label>
                    <p class="required">Selection required</p>
                    <select class="formSelect inactive" name="seatSelect" id="seatSelect">
                        <option class="formOption" value="">Select Optional Seat Cushion</option>
                        <option class="formOption" value="None">None</option>
                        <option class="formOption" value="In Same Fabric, Group 4 (+£109.00)">In Same Fabric, Group 4
                            (+£109.00)
                        </option>
                    </select>

                </div>
            </form>
            <div class="orderReview">
                <p>Hay About A Lounge Chair - Low AAL82: £779.00</p>
                <p id="Fabric:"><span>Fabric: </span></p>
                <p id="Colour:"><span>Colour: </span></p>
                <p id="Leg Finish:"><span>Leg Finish: </span></p>
                <p id="Optional Seat Cushion:"><span>Optional Seat Cushion: </span></p>
                <p id="unitPrice"><span>Unit Price: </span></p>
            </div>
            <div class="priceCalc-container">
                <p class="formLabel priceCalc-title">Quantity</p>
                <input class="quantityDisplay" value="1" />
                <div class="buttons">
                    <button class="quantityChange-button"><img src="../assets/images/arrowUp.png" /></button>
                    <button class="quantityChange-button"><img src="../assets/images/arrowDown.png" /></button>
                </div>
                <p class="total">Total £809.00</p>
                <button class="addToBasket">Add to Basket</button>
                <button class="wishList"><img src="../assets/images/wishList-button.png" /></button>
            </div>
        </div>
    </div>

</body>

</html>

<!-- TODO -->
<!-- * change styling of selects so not hard coded -->
<!-- * make form responsive -->
<!-- media query to work for phones as well -->