<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hay About A Lounge Chair AAL82 | Utility Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://media.utilitydesign.co.uk/favicon/default/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script defer src="../scripts/script.js"></script>
</head>

<body>

    <header>
        <div class="searchBar">
            <i class="fas fa-search"></i>
            <input placeholder="Search..." class="searchField" style="border: none;" />
        </div>
        <img class="logo" src="../assets/images/utilityLogo.png" />
        <div class="iconContainer">
            <select class="currencySelect">
                <option value="pounds">£ GBP</option>
                <option value="euros">€ EUR</option>
                <option value="dollars">$ USD</option>
            </select>
            <a href="#"><img class="icon" src="../assets/images/userIcon.png" alt="user icon" /></a>
            <a href="#"><img class="icon" src="../assets/images/basketIcon.png" alt="basket icon" /></a>
        </div>
    </header>
    <ul class="navList">
        <!-- get nav items from db -->
    </ul>
    <span class="route">
        <!-- get route from db -->
    </span>

    <div class="main">
        <div class="productDisplay">
            <a class="leftArrow" href="#"><img src="../assets/images/arrowLeft.png" /></a>
            <img class="productImage" src="../assets/images/productImage.png" />
            <a class="rightArrow" href="#"><img class="rightArrow" src="../assets/images/arrowRight.png" /></a>
            <img class="productThumbnail" src="../assets/images/productImage.png" />
        </div>

        <div class="productForm">
            <div class="formHeader">
                <h2 class="productTitle">Hay About A Lounge Chair - Low AAL82</h2>
                <span class="priceFrom">from: </span><span class="currencySign">£</span><span
                    class="startingPrice">779.00</span>
                <h5 class="orderTime"> <img src="../assets/images/greenTick.png" /> Made To Order - 6-8 weeks</h4>
            </div>
            <form class="formMain">
                <label class="formLabel" for="fabricSelect">Fabric:</label>
                <select class="formSelect" name="fabricSelect" id="fabricSelect">
                    <option class="formOption" value="">Select your fabric</option>
                    <option class="formOption" value="SteelcutTrio">Steelcut Trio</option>
                </select>
                <label class="formLabel" for="colourSelect">Colour:</label>
                <select class="formSelect" name="colourSelect" id="colourSelect">
                    <option class="formOption" value="">Select your colour</option>
                </select>
                <label class="formLabel" for="legSelect">Leg Finish:</label>
                <select class="formSelect" name="legSelect" id="legSelect">
                    <option class="formOption" value="">Select your leg finish</option>
                </select>
                <label class="formLabel" for="seatSelect">Optional Seat Cushion</label>
                <select class="formSelect" name="seatSelect" id="seatSelect">
                    <option class="formOption" value="">Select your seat cushion</option>
                </select>
            </form>
        </div>
    </div>

</body>

</html>