* {
    font-family: "Proxima Nova - Regular", 'Lato', sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 90px 40px 30px 1fr / 1fr;
    grid-template-areas:
        'header'
        'navBar'
        'route'
        'mainContent';
    height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: 'searchBar logo icons';
    border-bottom: 1px #cccccc solid;
    align-items: center;
}

.searchBar {
    grid-area: searchBar;
    margin: 0 50px;
}

/* THIS NEEDS TO BE EXTRACTED -- CURRENTLY INLINE */
.searchField {
    /* border: 0px solid; */
}

.logo {
    grid-area: logo;
    width: 140px;
    height: 58px;
    justify-self: center;
}

.iconContainer {
    grid-area: icons;
    justify-self: right;
    margin: 0 50px 0 0;
    align-content: center;
    display: flex;
    align-items: center;
}

.icon {
    margin: 10px;
    transition: transform 0.1s ease;
    transform-origin: 10%;
}

.icon:hover {
    transform: scale(1.1);
}

.currencySelect {
    margin: 0 50px 0 0;
    height: 20px;
    background-color: white;  
    border: none;
    width: 80px;
}

.navList {
    grid-area: navBar;
    padding: 10px;
    border-bottom: 1px #cccccc solid;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navItem {
    margin: 0 10px;
    font-size: 16px;
}

.navItem:hover {
    text-decoration: underline;
}

.route {
    grid-area: route;
    color: #999999;
    font-size: 14px;
    margin: 16px
}

.main {
    grid-area: mainContent;
    display: grid;
    grid-template-columns: 6fr 5fr;
    grid-template-areas: 'productDisplay productForm'
}

.productThumbnail {
    grid-area: productThumbnail;
    width: 100px;
    height: 100px;
    border: 3px solid #250858;
    justify-self: center;
    margin: 10% 0;
}


.productDisplay {
    grid-area: productDisplay;
    margin: 10%;
    display: grid;
    grid-template: 500px 50px / 20px 1fr 20px;
    grid-template-areas: 
    'leftArrow productImage rightArrow'
    '. productThumbnail .';
}

@media only screen and (max-width: 830px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .productThumbnail {
        margin: 15% 0;
    }

    .productDisplay {
        margin-bottom: 100px;
    }
}

.leftArrow {
    grid-area: leftArrow;
    align-self: center;
}

.rightArrow {
    grid-area: rightArrow;
    align-self: center;
}

.productImage {
    grid-area: productImage;
    width: 100%;
    height: auto;
}



.productForm {
    grid-area: productForm;
    padding: 30px;
}

.formHeader {
    border-bottom: 1px #cccccc solid;
}

.productTitle {
    font-size: 35px;
}

.priceFrom {
    font-size: 16px;
}

.currencySign {
    font-size: 22px;
    font-weight: bold;
}

.startingPrice {
    font-size: 30px;
    font-weight: bold;
}

.orderTime {
    font-size: 16px;
    color: #1c6b27;
    font-weight: normal;
}

.formMain {
    display: flex;
    flex-direction: column;
    padding: 31px 0;
    border-bottom: 1px #cccccc solid;
}

.formSelect-container {
    margin: 10px 0;
    display: grid;
    grid-template: 30px 70px / 1fr 150px;
    grid-template-areas:
        'label required'
        'select select';
    align-items: center;
}

.formLabel {
    grid-area: label;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.required {
    visibility: hidden;
    grid-area: required;
    color: #d0021b;
    font-size: 14px;
}

.formSelect {
    font-size: 16px;
    grid-area: select;
    height: 70px;
    width: 90%;
    background-color: white;
    background: url('../assets/images/arrowDown.png');
    background-repeat: no-repeat;
    border: 1px #cccccc solid;
    background-position: 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 19px;
}

.orderReview {
    display: none;
    padding: 31px 0;
    border-bottom: 1px #cccccc solid;
}

.reviewLabel {
    color: grey;
}

#unitPrice {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px; 
}

.priceLabel {
    font-size: 16px;
    font-weight: 400;
}

.priceCalc-container {
    height: 230px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 80px 50px 1fr 50px;
    grid-template-areas: 
        'title . . .'
        'quantityDisplay buttons total .'
        'addToBasket addToBasket addToBasket wishList';
    align-items: center;
}

.priceCalc-title {
    grid-area: title;
}

.quantityDisplay {
    grid-area: quantityDisplay;
    width: 70px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid #cccccc;
}

.buttons {
    grid-area: buttons;
    align-self: center;
}

.quantityChange-button {
    width: 36px;
    height: 25px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: none;
}

.total {
    visibility: hidden;
    grid-area: total;
    font-size: 30px;
    font-weight: 700;
}

.addToBasket {
    width: 90%;
    height: 50px;
    grid-area: addToBasket;
    background-color: #9b9b9b;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.wishList {
    height: 50px;
    width: 50px;
    grid-area: wishList;
    border: none;
    background-color: white;
}

.inactive {
    color: #9b9b9b;
};